body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.peter {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;

}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 0, 80), rgb(255, 0, 90));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

#top-banner {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.bg-banner {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.cyan-color {
    color: cyan;
}

.experience-area {
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

#web-developer {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#fullstack {
    border-left: 7px solid;
    border-image: linear-gradient(tomato, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}